body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.app-game {
  display: flex;
  justify-content: center;
}

.game-option {
  margin-right: 20px;
}

.game-option p {
  margin: 0px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.game-info p {
  margin: 0px;
}

.winner {
  background-color: #d3d3d3;
}

.time-game {
  display: flex;
  justify-content: center;
  color: #e80f0f;
}

.time-game p {
  margin: 0px;
}

.player-game {
  margin-right: 20px;
}

.player-game .player {
  padding: 5px 10px;
  /* border: 1px solid #928282; */
  /* border-radius: 3px; */
}

.ui.modal {
  position: relative;
  height: auto;
}
